.font-weight-bold {
    font-weight: bold;
}

.font-size-small {
    font-size: small;
}

.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}
.background-color-disabled {
    background-color: #c0c0c0 !important;
}
